<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <h1>Rock, Paper, Scissors 2.0</h1>
    <h3>The game that learns how to beat you</h3>

    <div class="gameBox">

      <div id="playerSpace">
      </div>

      <div id="computerSpace">
      </div>

      <div id="buttons">
        <button id="rock">Play Rock</button>
        <button id="paper">Play Paper</button>
        <button id="scissors">Play Scissors</button>
      </div>


    </div>














    <!-- <button ng-click="main.playHand(0)">Throw Rock</button>
    <button ng-click="main.playHand(1)">Throw Paper</button>
    <button ng-click="main.playHand(2)">Throw Scissors</button>
    <h3>Player Record Table</h3>
    <table>
      <tr>
        <th></th>
        <th>Rock</th>
        <th>Paper</th>
        <th>Scissors</th>
      </tr>
      <tr>
        <td>Wins</td>
        <td>{{main.rockStats.wins}}</td>
        <td>{{main.paperStats.wins}}</td>
        <td>{{main.scissorsStats.wins}}</td>
      </tr>
      <tr>
        <td>Losses</td>
        <td>{{main.rockStats.losses}}</td>
        <td>{{main.paperStats.losses}}</td>
        <td>{{main.scissorsStats.losses}}</td>
      </tr>
      <tr>
        <td>Ties</td>
        <td>{{main.rockStats.ties}}</td>
        <td>{{main.paperStats.ties}}</td>
        <td>{{main.scissorsStats.ties}}</td>
      </tr>
    </table>

    <h3>Player Rock Tendencies</h3>
    <table>
      <tr>
        <th></th>
        <th>After Win</th>
        <th>After Loss</th>
        <th>After Tie</th>
      </tr>
      <tr>
        <td>Rock</td>
        <td>{{main.rockStats.winThen.rock}}</td>
        <td>{{main.rockStats.lossThen.rock}}</td>
        <td>{{main.rockStats.tieThen.rock}}</td>
      </tr>
      <tr>
        <td>Paper</td>
        <td>{{main.rockStats.winThen.paper}}</td>
        <td>{{main.rockStats.lossThen.paper}}</td>
        <td>{{main.rockStats.tieThen.paper}}</td>
      </tr>
      <tr>
        <td>Scissors</td>
        <td>{{main.rockStats.winThen.scissors}}</td>
        <td>{{main.rockStats.lossThen.scissors}}</td>
        <td>{{main.rockStats.tieThen.scissors}}</td>
      </tr>
    </table>

    <h3>Player Paper Tendencies</h3>
    <table>
      <tr>
        <th></th>
        <th>After Win</th>
        <th>After Loss</th>
        <th>After Tie</th>
      </tr>
      <tr>
        <td>Rock</td>
        <td>{{main.paperStats.winThen.rock}}</td>
        <td>{{main.paperStats.lossThen.rock}}</td>
        <td>{{main.paperStats.tieThen.rock}}</td>
      </tr>
      <tr>
        <td>Paper</td>
        <td>{{main.paperStats.winThen.paper}}</td>
        <td>{{main.paperStats.lossThen.paper}}</td>
        <td>{{main.paperStats.tieThen.paper}}</td>
      </tr>
      <tr>
        <td>Scissors</td>
        <td>{{main.paperStats.winThen.scissors}}</td>
        <td>{{main.paperStats.lossThen.scissors}}</td>
        <td>{{main.paperStats.tieThen.scissors}}</td>
      </tr>
    </table>

    <h3>Player Scissors Tendencies</h3>
    <table>
      <tr>
        <th></th>
        <th>After Win</th>
        <th>After Loss</th>
        <th>After Tie</th>
      </tr>
      <tr>
        <td>Rock</td>
        <td>{{main.scissorsStats.winThen.rock}}</td>
        <td>{{main.scissorsStats.lossThen.rock}}</td>
        <td>{{main.scissorsStats.tieThen.rock}}</td>
      </tr>
      <tr>
        <td>Paper</td>
        <td>{{main.scissorsStats.winThen.paper}}</td>
        <td>{{main.scissorsStats.lossThen.paper}}</td>
        <td>{{main.scissorsStats.tieThen.paper}}</td>
      </tr>
      <tr>
        <td>Scissors</td>
        <td>{{main.scissorsStats.winThen.scissors}}</td>
        <td>{{main.scissorsStats.lossThen.scissors}}</td>
        <td>{{main.scissorsStats.tieThen.scissors}}</td>
      </tr>
    </table> -->






    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
  </body>
</html>
